/* .imageCard {
  position: relative;
  cursor: pointer;
}

.imageCard img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

.imageCard {
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image {
  display: block;
  width: 100%;
  height: auto;
}
